* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #2c2c2c; /* fundo visível */
    font-family: Arial, sans-serif;
}

/* Layout principal */
.app {
    display: grid;
    grid-template-columns: 60px 1fr; /* nav fixo + conteúdo flexível */
    gap: 20px; /* espaço entre nav e main */
    padding: 20px; /* espaço nas bordas da tela */
    height: 100vh; /* altura da página inteira */
}

/* Barra lateral */
nav {
    background-color: rgb(82, 9, 150);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 20px;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav i {
    color: #eee;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

nav i:hover {
    color: #fff;
}

/* Conteúdo principal */
main {
    border-radius: 8px;
    color: white;
    padding: 0px;
    display: grid;
    gap: 20px; /* espaço entre itens */
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    grid-auto-rows: 150px; /* altura fixa de 100px para cada linha */
    overflow-y: auto; /* barra de rolagem vertical interna */
    
    /* Faz o main ocupar toda a altura da página */
    height: 100%;
}

/* Exemplo de conteúdo */
main h1 {
    margin-bottom: 10px;
}

.item {
    background-color: #3c3c3c;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
     flex-grow: 1;
}

.item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#config {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .app {
        grid-template-columns: 1fr; /* nav em cima, main embaixo */
        grid-template-rows: auto 1fr;
    }

    main {
        height: auto; /* altura automática no mobile */
    }
}
